<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../public/css/dashboard.css" />
    </head>

    <body>
        <div class="project">


            <div class="proyect__img__container"><img class="proyect__item__img"
                    src="../public/img_/main/sedelembo.png" alt /></div>



            <div class="card__container  contenedor">
               
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" />
                    <label class="celda"></label>
                </div>
                <!-- Repite según sea necesario -->
            </div>

        </div>

        <!-- From Uiverse.io by SnyDeTreves -->
        <!-- <div class="card__dashboard   "> -->

        <!-- <div class="map-cities">
            <div style="--x: 5; --y: 67" class="map-city">
                <div class="map-city__label">
                    <span data-icon="🏖️" class="map-city__sign">Beach city</span>
                </div>
            </div>
            <div style="--x: 32; --y: 32" class="map-city">
                <div class="map-city__label">
                    <span data-icon="🌷" class="map-city__sign anim anim-grow">Flower city</span>
                </div>
            </div>
            <div style="--x: 58; --y: 83" class="map-city">
                <div class="map-city__label">
                    <span data-icon="🏄" class="map-city__sign anim anim-slidein">Surf city</span>
                </div>
            </div>
            <div style="--x: 65; --y: 22" class="map-city">
                <div class="map-city__label">
                    <span data-icon="🏛️" class="map-city__sign">Capital city</span>
                </div>
            </div>
            <div style="--x: 87; --y: 58" class="map-city">
                <div class="map-city__label">
                    <span data-icon="🎢" class="map-city__sign">Funland</span>
                </div>
            </div>
            <div style="--x: 94; --y: 38" class="map-city">
                <div class="map-city__label">
                    <span data-icon="🌊" class="map-city__sign anim anim-slidein">Coast city</span>
                </div>
            </div>
        </div> -->

        <!-- </div>
        <script>
        // Selecciona todos los checkbox y labels dentro del contenedor
        const checkboxes = document.querySelectorAll('.checkbox');
        const labels = document.querySelectorAll('.celda');
    
        // Asocia dinámicamente los checkbox y labels
        checkboxes.forEach((checkbox, index) => {
          // Asigna un ID único basado en su índice
          checkbox.id = `checkbox-${index}`;
    
          // Asocia el label usando el atributo for
          labels[index].setAttribute('for', checkbox.id);
    
          // Bloquea un checkbox específico para las construcciones en el mapa COLOR NEGRO (por ejemplo, "checkbox-2")
          if (checkbox.id === 'checkbox-2') {
            checkbox.disabled = true; // Deshabilita el checkbox
            labels[index].classList.add('bloqueado'); // Cambia el estilo del label
          }
                // Condición para bloquear otras celdas con estilo azul
      if (checkbox.id === 'checkbox-6' || checkbox.id === 'checkbox-8') {
        checkbox.disabled = true;
        labels[index].classList.add('bloqueado-especial');
      }
        });
      </script>

    </body>

</html>