<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/dashboard.css" />
</head>

<body>
  <main class="dashboard__windows">
    <div class="dashboard__map">
      <img class="dashboard__img" src="../public/img_/main/sedelembo.png" alt="">

    </div>




    <div class="dashboard__menu">
      <button>MAP</button>
      <button>UNIT</button>
      <button>HUMANITARIAN</button>
      <button>SIGNS</button>
      <button>RETROFIT</button>
      <button>CUSTOM</button>
      <button>EDIT</button>
    </div>
  </main>
</body>

</html>


















<div class="dash__main     map-container">
  <img class="dash__board__img      map-background" src="../public/img_/main/sedelembo.png" alt />

  <!-- AQUI VA EL CONTENEDOR DE CHECBOX -->
  <div class="dash__leabel       contenedor">

  </div>
  <!-- AQUI VA EL FINAL CONTENEDOR DE CHECBOX -->

</div>

</body>

</html>