<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Es una pagina con formulario y una ventana de celular" />
  <meta name="keywords" content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos," />
  <meta name="author"
    content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo" />
  <meta http-equiv="Content-Language" content="es" />
  <link rel="stylesheet" href="../../public/css/root.css">
  <link rel="stylesheet" href="../../public/css/cropscicles/styles_create.css">

  <title>Registro de Cultivos</title>
</head>

<body>
  <!-- ****************  Titulo principal  ****************  -->

  <header class="ciclo__tittle">
    <span>SENA SEDE LEMBO</span>
    <a href="../index_main.html">
      <img src="../../public/img/svg/home.svg" alt="">
    </a>
  </header>

  <!-- ******************  inicio cicloLeft ****************  -->
  <aside class="cicloLeft">
    <section class="cicloLeft__container">
      <img class="cicloLeft__logoSena"
        src="../../public/img/LOGOS SENA/LOGOS SENA/logo-sena-verde-complementario-svg-2022.svg"
        alt="Imagen de Logo Sena" />

      <img class="cicloLeft__imageMovil" src="../../public/img/movil01.png" alt="Imagen de celular  cuadros" />

      <img class="cicloLeft__logoSgal" src="../../public/img/LogoSgal.png" alt="Imagen de Logo Sgal" />
    </section>
  </aside>
  <!-- ******************  fin cicloLeft ****************  -->

  <main class="cicloRight">
    <form class="cicloRight__container">
      <h3 class="cicloRight__title3">REGISTRO CULTIVO</h3>

      <fieldset class="cicloRight__form">
        <div class="ciclo__data-general">
          <label class="cicloRight__label" for="">Id del Cultivo</label>
          <input class="ciclo__Id" placeholder="Id del Cultivo" type="text" />
        </div>

        <div class="ciclo__data-general">
          <label class="cicloRight__label" for="">Nombre Del Cultivo</label>
          <input class="ciclo__nameUser" placeholder="Nombre del Cultivo" type="text" />
        </div>

        <div class="ciclo__data-general">
          <label class="cicloRight__label" for="">Tipo de Cultivo</label>
          <input class="ciclo__email" placeholder="Tipo del Cultivo" type="email" />
        </div>

        <div class="ciclo__data-general">
          <label class="cicloRight__label" for="">Ubicaciòn</label>
          <input class="ciclo__cellPhone" placeholder="Ubicación del Cultivo" type="tel" />
        </div>

        <div class="ciclo__data-general">
          <label class="cicloRight__label" for="">Descripción</label>
          <input class="ciclo__cellPhone" placeholder="Descripción del Cultivo" type="tel" />
        </div>

        <div class="ciclo__data-general">
          <label class="cicloRight__label" for="">Tamaño en m²</label>
          <input class="ciclo__cellPhone" placeholder="Tamaño en m² del cultivo " type="tel" />
        </div>

        <div class="ciclo__data-general">
          <h3 class="cicloRight__title4">Imagen Cultivo</h3>
          <div class="ciclo__data-general">
            <img class="cicloRight__svg" src="../../public/img/svg/uploadImg.svg" alt="">
          </div>

          <div class="ciclo__data-general">
            <input class="ciclo__file" placeholder="" type="file" />
            <p class="cicloRight__dato">Resoluciòn maxima 150 x 150 px</p>

          </div>

        </div>
      </fieldset>
      <div class="botones">
        <button class="cicloRight__button" type="submit">
          Crear
        </button>
        <!-- <button class="button"><a href="">CANCELAR</a></button> -->
      </div>

      <div class="cicloRight__footform">
        <p> CAPTURA DE ERRORES</p>
      </div>

    </form>
    <!-- fin de form -->
    <a href="../index_main.html">
      <img class="ciclo_controlBack" src="../../public/img/svg/control_back.svg" alt=""></a>

  </main>
</body>

</html>