<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Es una pagina con formulario y una ventana de celular" />
  <meta name="keywords" content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos," />
  <meta name="author"
    content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo" />
  <meta http-equiv="Content-Language" content="es" />

  <link rel="stylesheet" href="../../public/css/crops/styles_create.css">

  <title>Registro de Cultivos</title>
</head>

<body>
  <!-- ****************  TITULO PRINCIPAL  ****************  -->

  <header class="main__tittle">
    <p class="main__tittle__paragraph">SENA SEDE LEMBO</p>
    <a class="main__tittle__anchor" href="../index_main.html">
      <img class="main__tittle__ico" src="../../public/img_/svg/home.svg" alt="">
    </a>

  </header>
  <!-- ****************  FIN TITULO PRINCIPAL  ****************  -->
  <!-- ******************   INICIO DE CARD LEFT ****************  -->

  <aside class="card__left">
    <section class="card__left__container">
      <img class="card__left__logo" src="../../public/img_/svg_sena/logo-sena-verde-complementario-svg-2022.svg"
        alt="Imagen de Logo Sena" />

      <img class="card__left__image__movil" src="../../public/img_/left_side/movil01.png"
        alt="Imagen de celular  cuadros" />

      <img class="card__left__logo" src="../../public/img_/left_side/LogoSgal.png" alt="Imagen de Logo Sgal" />
    </section>
  </aside>
  <!-- ******************  FIN DE CARD LEFT ****************  -->
  <!-- ******************   INICIO DE CARD LEFT ****************  -->

  <main class="card__right">
    <form class="card__right__container">
      <p class="card__right__title3">REGISTRO CULTIVO</p>

      <fieldset class="card__right__form">
        <div class="card__right__data__general">
          <label class="card__right__label" for="">Id del Cultivo</label>
          <input class="card__right__input card__right__input--id" placeholder="Id del Cultivo" type="text" />
        </div>

        <div class="card__right__data__general">
          <label class="card__right__label" for="">Nombre Del Cultivo</label>
          <input class="card__right__input card__right__input--name" placeholder="Nombre del Cultivo" type="text" />
        </div>

        <div class="card__right__data__general">
          <label class="card__right__label" for="">Tipo de Cultivo</label>
          <input class="card__right__input card__right__input--type" placeholder="Tipo del Cultivo" type="email" />
        </div>

        <div class="card__right__data__general">
          <label class="card__right__label" for="">Ubicaciòn</label>
          <input class="card__right__input card__right__input--location" placeholder="Ubicación del Cultivo"
            type="tel" />
        </div>

        <div class="card__right__data__general">
          <label class="card__right__label" for="">Descripción</label>
          <input class="card__right__input card__right__input--info" placeholder="Descripción del Cultivo" type="tel" />
        </div>

        <div class="card__right__data__general">
          <label class="card__right__label" for="">Tamaño en m²</label>
          <input class="card__right__input card__right__input--size" placeholder="Tamaño en m² del cultivo "
            type="tel" />
        </div>

        <p class="card__right__title--mid">Imagen Cultivo</p>
        <div class="card__right__data__general">


          <div class="card__right__data__general--2">
            <img class="card__right__content__imagen" src="" alt="">
            <label class="card__right__label">Resolución max 150*150 px</label>
            <input class="card__right__input card__right__input card__right__input--file" placeholder="" type="file" />
          </div>

        </div>
      </fieldset>
      <div class="card__right__boton">
        <button class="card__right__boton--primary" type="submit">CREAR</button>

        <button class="card__right__boton--second" type="submit"><a href="">CANCELAR</a></button>
      </div>

      <div class="card__right__footform">
    <p> CAPTURA DE ERRORES</p>
  </div>

    </form>
    <!-- fin de form -->

    <a href="../index_main.html">
      <img class="card__right_controlBack" src="../../public/img_/svg/control_back.svg" alt="">
    </a>

  </main>

</body>

</html>